
@{
    ViewBag.Title = "eFaturaAvantaj";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a href="/Anasayfa/Index/">Ana Sayfa</a></li>
            <li><a href="Blog/Index/">Blog</a></li>
        </ol>
        <h2>e-Fatura Avantajları Nelerdir?</h2>
    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Blog Single Section ======= -->
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="~/blog/avantajlari-nelerdir.jpg" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="blog-single2.html">e-Fatura Avantajları Nelerdir?</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>

                            <li class="d-flex align-items-center">
                                <i class="bi bi-clock"></i> <a href="blog-single.html">
                                    <time datetime="2020-01-01">22/05/2021</time>
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            e-Arşiv fatura, elektronik fatura uygulamasının kapsama alanı dışında kalan kurum
                            ve kişiler arasındaki kağıt fatura işlemlerinin ve saklanmasının elektronik ortama taşındığı fatura
                            türüdür.
                        </p>

                        <p>
                            Daha detaylı açıklayacak olursak, e-faturaya geçmemiş kurumsal ve bireysel müşterilerinin
                            bildirdikleri herhangi bir e-posta
                            adresine veya SMS numarasına PDF formatında gönderilen ve 10 yıl boyunca elektronik ortamda
                            saklanabilen, çevrimiçi olarak erişilebilen bir dijital faturadır.
                        </p>

                        <h4> Kimler e-Arşiv Kullanmak Zorundadır? </h4>
                        <p>
                            433 numaralı Vergi Usul Kanunu gereğince internet üzerinden mal ve hizmet satışı yapan ve 2014 yılı
                            gelir tablosu brüt satış hasılatı tutarı
                            5 milyon lira ve üzerinde olan e-Ticaret firmaları, e-Arşiv uygulamasına geçmek zorundadır.
                            Zorunluluğu olan firmalar dışında, sisteme girmek isteyen mükellefler de e-Arşiv uygulamasına geçiş
                            yapabilmektedir.
                        </p>

                        <h4> e-Arşiv Fatura Nasıl Kesilir? </h4>
                        <p>
                            e-Arşiv faturanın kesilme yöntemleri, e-Fatura kesme yöntemleriyle hemen hemen aynıdır. e-Arşiv
                            faturası GİB portalı üzerinden ya da özel entegratörler tarafından kesilebilir.
                            Bu noktada GİB portalı ve özel entegratörlerin sağladığı avantajların farklı olduğunu da dikkate almak
                            gerekiyor.
                            Ayrıca e-Arşiv fatura kesmek için işletmeler ve e-ticaret firmaları, kendi bilgi sistemlerini
                            geliştirerek de bu işlemi yapabilirler.
                        </p>

                        <h3>e-Fatura ve e-Arşiv Fatura Arasındaki Farklar Nelerdir?</h3>
                        <p>
                            <ul>
                                <li>
                                    e-Fatura’da sadece sistemde kayıtlı kullanıcılara e-Fatura gönderilebilir ve alınabilir. E-Arşiv
                                    ise e-Fatura kapsamı dışındaki firma ve tüketicilere kesilen
                                    faturaların da elektronik ortamda düzenlenmesini ve ikinci nüshasının elektronik olarak muhafaza ve
                                    ibraz edilmesini sağlar.
                                </li>
                                <li>
                                    e-Fatura’da, elektronik ortamda alıcısına iletilir ve kağıt çıktı alınamaz, e-Arşiv’de ise fatura
                                    hem elektronik hem de kağıt çıktı olarak iletilebilir.
                                </li>
                                <li>e-Fatura’da UBL-TR formatı zorunluyken, e-Arşiv’de istenilen format kullanılabilir.</li>
                                <li>
                                    e-Arşiv’de belgeler mali mühür ve zaman damgasıyla onaylanıp saklanır, e-Fatura’da zaman damgası
                                    yoktur.
                                </li>
                                <li>
                                    e-Fatura’da gönderilen her fatura önce GİB’e iletilir, e-Arşiv’de GİB’e yalnızca ay sonlarında bir
                                    rapor ile bilgi verilir.
                                </li>
                                <li>
                                    e-Fatura’da GİB Portal, Entegrasyon, Özel Entegratör yöntemlerinden biri kullanılır.
                                    E-Arşiv kullanıcıları ise Özel Entegratör ya da kendi bilgi işlem sistemlerini onay alarak
                                    kullanabilir.
                                </li>


                            </ul>
                        </p>
                        <img src="~/blog/avantajlari-nelerdir-2.jpg" class="img-fluid" alt="">

                        <h3>e-Arşiv Fatura Avantajları</h3>
                        <p>
                            <ul>

                                <li> Maliyetlerinizi minimize eder. </li>
                                <li> Operasyonunuz hızlanır ve verimliliği artar. </li>
                                <li> Anında ve güvenilir fatura akışı sağlar. </li>
                                <li> Yasal geçerli/güvenli saklama ve çevrimiçi erişim olanağı verir. </li>
                                <li> Manuel fatura girişlerinden kaynaklı hataları minimuma indirir. </li>
                                <li> İşletmeler istediği zaman fatura bilgilerine ulaşabilmektedir. </li>

                            </ul>
                        </p>
                    </div>



            </div><!-- End blog entries list -->

            <div class="col-lg-4">

                <div class="sidebar">

                    <h3 class="sidebar-title">Bul</h3>
                    <div class="sidebar-item search-form">
                        <form action="">
                            <input type="text">
                            <button type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </div><!-- End sidebar search formn-->

                    <h3 class="sidebar-title">Kategoriler</h3>
                    <div class="sidebar-item categories">
                        <ul>
                            <li><a href="#">e-Fatura  <span>(4)</span></a></li>
                            <li><a href="#">Muhasebe <span>(1)</span></a></li>
                            <li><a href="#">Ön Muhasebe<span>(1)</span></a></li>
                            <li><a href="#">E-Arşiv <span>(1)</span></a></li>
                            <li><a href="#">E-İrsaliye <span>(1)</span></a></li>

                        </ul>
                    </div><!-- End sidebar categories-->

                    <h3 class="sidebar-title">Çok Okunanlar</h3>
                    <div class="sidebar-item recent-posts">
                        <div class="post-item clearfix">
                            <img src="~/DigitalFaturam/assets/img/blog/blog-recent-1.jpg" alt="">
                            <h4><a href="/Blog/eFaturayaGecis">e-Fatura'ya Geçiş Zorunluluğu !</a></h4>
                            <time datetime="2020-01-01">02/06/2021</time>
                        </div>

                        <div class="post-item clearfix">
                            <img src="~/DigitalFaturam/assets/img/blog/blog-recent-2.jpg" alt="">
                            <h4><a href="/Blog/eFaturaAvantaj">e-Fatura Avantajları Nelerdir?</a></h4>
                            <time datetime="2020-01-01">22/05/2021</time>
                        </div>

                        <div class="post-item clearfix">
                            <img src="~/DigitalFaturam/assets/img/blog/blog-recent-3.jpg" alt="">
                            <h4><a href="/Blog/eFaturaDepolama">e-Faturada veri depolama güvenli mi?</a></h4>
                            <time datetime="2020-01-01">15/07/2021</time>
                        </div>

                        <div class="post-item clearfix">
                            <img src="~/DigitalFaturam/assets/img/blog/blog-recent-4.jpg" alt="">
                            <h4><a href="/Blog/eFaturaNasilKullanilir">Ücretsiz e-Fatura nasıl kullanılır?</a></h4>
                            <time datetime="2020-01-01">20/05/2021</time>
                        </div>

                        <div class="post-item clearfix">
                            <img src="~/DigitalFaturam/assets/img/blog/blog-recent-5.jpg" alt="">
                            <h4><a href="/Blog/OnMuhasebeNedir">Ön Muhasebe Nedir?</a></h4>
                            <time datetime="2020-01-01">02/0/2021</time>
                        </div>

                    </div><!-- End sidebar recent posts-->

                    <h3 class="sidebar-title">Etiketler</h3>
                    <div class="sidebar-item tags">
                        <ul>
                            <li><a href="#">e-Fatura</a></li>
                            <li><a href="#">Ön Muhasebe</a></li>
                            <li><a href="#">e-İrsaliye</a></li>
                            <li><a href="#">Muhasebe</a></li>
                            <li><a href="#">E-Arşiv</a></li>
                            <li><a href="#">E-Defter</a></li>

                        </ul>
                    </div><!-- End sidebar tags-->

                </div><!-- End sidebar -->

            </div><!-- End blog sidebar -->

        </div>

    </div>
</section><!-- End Blog Single Section -->
