
@{
    ViewBag.Title = "eFaturaDepolama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a href="/Anasayfa/Index/">Ana Sayfa</a></li>
            <li><a href="/Blog/Index/">Blog</a></li>
        </ol>
        <h2>e-Faturada veri depolama güvenli mi?</h2>
    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Blog Single Section ======= -->
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="~/blog/depolama.jpg" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a>e-Faturada veri depolama güvenli mi?</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>

                            <li class="d-flex align-items-center">
                                <i class="bi bi-clock"></i> <a href="blog-single.html">
                                    <time datetime="2020-01-01">15/07/2021</time>
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="entry-content">


                        <h3>Güvenli Veri Depolama</h3>
                        <p>
                            <ul>
                                <li>e-Fatura programımız ile verileriniz güvende! </li>
                                <li>
                                    Bulut depolama, ticari veri merkezindeki İnternet erişimi olan herhangi bir bilgisayardan
                                    erişilebilen depolama alanıdır.
                                </li>
                                <li>Genellikle bir servis sağlayıcı tarafından sağlanır. </li>
                                <li>
                                    Sınırlı bir depolama alanı, bir abonelik ücreti için daha fazla alanla birlikte ücretsiz olarak
                                    sağlanabilir.
                                </li>
                                <li> Servis sağlayıcı örnekleri Amazon S3, Google Drive, Sky Drive vb. verilebilir. </li>
                            </ul>
                            <img src="~/blog/veri-depolama-guvenli-mi.jpg" class="img-fluid" alt="">
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

            <div class="col-lg-4">

                <div class="sidebar">

                    <h3 class="sidebar-title">Bul</h3>
                    <div class="sidebar-item search-form">
                        <form action="">
                            <input type="text">
                            <button type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </div><!-- End sidebar search formn-->

                    <h3 class="sidebar-title">Kategoriler</h3>
                    <div class="sidebar-item categories">
                        <ul>
                            <li><a href="#">e-Fatura <span>(4)</span></a></li>
                            <li><a href="#">Muhasebe <span>(1)</span></a></li>
                            <li><a href="#">Ön Muhasebe<span>(1)</span></a></li>
                            <li><a href="#">E-Arşiv <span>(1)</span></a></li>
                            <li><a href="#">E-İrsaliye <span>(1)</span></a></li>

                        </ul>
                    </div><!-- End sidebar categories-->

                    <h3 class="sidebar-title">Çok Okunanlar</h3>
                    <div class="sidebar-item recent-posts">
                        <div class="post-item clearfix">
                            <img src="~/DigitalFaturam/assets/img/blog/blog-recent-1.jpg" alt="">
                            <h4><a href="/Blog/eFaturayaGecis">e-Fatura'ya Geçiş Zorunluluğu !</a></h4>
                            <time datetime="2020-01-01">02/06/2021</time>
                        </div>

                        <div class="post-item clearfix">
                            <img src="~/DigitalFaturam/assets/img/blog/blog-recent-2.jpg" alt="">
                            <h4><a href="/Blog/eFaturaAvantaj">e-Fatura Avantajları Nelerdir?</a></h4>
                            <time datetime="2020-01-01">22/05/2021</time>
                        </div>

                        <div class="post-item clearfix">
                            <img src="~/DigitalFaturam/assets/img/blog/blog-recent-3.jpg" alt="">
                            <h4><a href="/Blog/eFaturaDepolama">e-Faturada veri depolama güvenli mi?</a></h4>
                            <time datetime="2020-01-01">15/07/2021</time>
                        </div>

                        <div class="post-item clearfix">
                            <img src="~/DigitalFaturam/assets/img/blog/blog-recent-4.jpg" alt="">
                            <h4><a href="/Blog/eFaturaNasilKullanilir">Ücretsiz e-Fatura nasıl kullanılır?</a></h4>
                            <time datetime="2020-01-01">20/05/2021</time>
                        </div>

                        <div class="post-item clearfix">
                            <img src="~/DigitalFaturam/assets/img/blog/blog-recent-5.jpg" alt="">
                            <h4><a href="/Blog/OnMuhasebeNedir">Ön Muhasebe Nedir?</a></h4>
                            <time datetime="2020-01-01">02/0/2021</time>
                        </div>

                    </div><!-- End sidebar recent posts-->

                    <h3 class="sidebar-title">Etiketler</h3>
                    <div class="sidebar-item tags">
                        <ul>
                            <li><a href="#">e-Fatura</a></li>
                            <li><a href="#">Ön Muhasebe</a></li>
                            <li><a href="#">e-İrsaliye</a></li>
                            <li><a href="#">Muhasebe</a></li>
                            <li><a href="#">E-Arşiv</a></li>
                            <li><a href="#">E-Defter</a></li>

                        </ul>
                    </div><!-- End sidebar tags-->

                </div><!-- End sidebar -->

            </div><!-- End blog sidebar -->

        </div>

    </div>
</section><!-- End Blog Single Section -->
