
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a href="index.html">Ana Sayfa</a></li>
            <li>Blog</li>
        </ol>
        <h2>Blog</h2>
    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-8 entries">

                <article class="entry">

                    <div class="entry-img">
                        <img src="~/blog/e-Faturaya-gecis.jpg" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/Blog/eFaturayaGecis/">e-Fatura'ya Geçiş Zorunluluğu!</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center">
                                <i class="bi bi-clock"></i> <a href="/Blog/eFaturayaGecis/">
                                    <time datetime="2020-01-01">02/06/2021</time>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            Gelir İdaresi Başkanlığı (GİB) tarafından yönetilen e-fatura uygulamasında amaç tek bir standarda göre satıcı ve ...
                        </p>
                        <div class="read-more">
                            <a href="/Blog/eFaturayaGecis/">Daha fazlası</a>
                        </div>
                    </div>

                </article><!-- End blog entry -->

                <article class="entry">

                    <div class="entry-img">
                        <img src="~/blog/avantajlari-nelerdir.jpg" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/Blog/eFaturaAvantaj/">e-Fatura Avantajları Nelerdir?</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center">
                                <i class="bi bi-clock"></i> <a href="/Blog/eFaturaAvantaj/">
                                    <time datetime="2020-01-01">22/05/2021</time>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            Maliyetleriniz azalır. (Kağıt, mürekkep, zarf, postalama, arşivleme ve mutabakat vb.) Faturalarınızı daha hızlı...
                        </p>
                        <div class="read-more">
                            <a href="/Blog/eFaturaAvantaj/">Daha fazlası</a>
                        </div>
                    </div>

                </article><!-- End blog entry -->

                <article class="entry">

                    <div class="entry-img">
                        <img src="~/blog/veri-depolama-guvenli-mi.jpg" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/Blog/eFaturaDepolama">e-Faturada veri depolama güvenli mi?</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center">
                                <i class="bi bi-clock"></i> <a href="blog-single3.html">
                                    <time datetime="2020-01-01">15/07/2021</time>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            e-Fatura programımız ile verileriniz güvende! Bulut depolama, ticari veri merkezindeki...
                        </p>
                        <div class="read-more">
                            <a href="/Blog/eFaturaDepolama">Daha fazlası</a>
                        </div>
                    </div>

                </article><!-- End blog entry -->

                <article class="entry">

                    <div class="entry-img">
                        <img src="~/blog/ucretsiz-nasil-kullanilir.jpg" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/Blog/eFaturaNasilKullanilir">Ücretsiz e-Fatura nasıl kullanılır?</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center">
                                <i class="bi bi-clock"></i> <a href="/Blog/eFaturaNasilKullanilir">
                                    <time datetime="2020-01-01">28/05/2021</time>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            E-Fatura’nın güvenli ve hızlı olmasının beraberinde faturaların elektronik ortamda güvenle kullanılabilmesi sayesinde bu sistem...
                        </p>
                        <div class="read-more">
                            <a href="/Blog/eFaturaNasilKullanilir">Daha fazlası</a>
                        </div>
                    </div>

                </article><!-- End blog entry -->



            </div><!-- End blog entries list -->

            <div class="col-lg-4">

                <div class="sidebar">

                    <h3 class="sidebar-title">Bul</h3>
                    <div class="sidebar-item search-form">
                        <form action="">
                            <input type="text">
                            <button type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </div><!-- End sidebar search formn-->

                    <h3 class="sidebar-title">Kategoriler</h3>
                    <div class="sidebar-item categories">
                        <ul>
                            <li><a href="#">e-Fatura  <span>(4)</span></a></li>
                            <li><a href="#">Muhasebe <span>(1)</span></a></li>
                            <li><a href="#">Ön Muhasebe<span>(1)</span></a></li>
                            <li><a href="#">E-Arşiv <span>(1)</span></a></li>
                            <li><a href="#">E-İrsaliye <span>(1)</span></a></li>

                        </ul>
                    </div><!-- End sidebar categories-->

                    <h3 class="sidebar-title">Çok Okunanlar</h3>
                    <div class="sidebar-item recent-posts">
                        <div class="post-item clearfix">
                            <img src="~/DigitalFaturam/assets/img/blog/blog-recent-1.jpg" alt="">
                            <h4><a href="/Blog/eFaturayaGecis">e-Fatura'ya Geçiş Zorunluluğu !</a></h4>
                            <time datetime="2020-01-01">02/06/2021</time>
                        </div>

                        <div class="post-item clearfix">
                            <img src="~/DigitalFaturam/assets/img/blog/blog-recent-2.jpg" alt="">
                            <h4><a href="/Blog/eFaturaAvantaj">e-Fatura Avantajları Nelerdir?</a></h4>
                            <time datetime="2020-01-01">22/05/2021</time>
                        </div>

                        <div class="post-item clearfix">
                            <img src="~/DigitalFaturam/assets/img/blog/blog-recent-3.jpg" alt="">
                            <h4><a href="/Blog/eFaturaDepolama">e-Faturada veri depolama güvenli mi?</a></h4>
                            <time datetime="2020-01-01">15/07/2021</time>
                        </div>

                        <div class="post-item clearfix">
                            <img src="~/DigitalFaturam/assets/img/blog/blog-recent-4.jpg" alt="">
                            <h4><a href="/Blog/eFaturaNasilKullanilir">Ücretsiz e-Fatura nasıl kullanılır?</a></h4>
                            <time datetime="2020-01-01">20/05/2021</time>
                        </div>

                        <div class="post-item clearfix">
                            <img src="~/DigitalFaturam/assets/img/blog/blog-recent-5.jpg" alt="">
                            <h4><a href="/Blog/OnMuhasebeNedir">Ön Muhasebe Nedir?</a></h4>
                            <time datetime="2020-01-01">02/0/2021</time>
                        </div>

                    </div><!-- End sidebar recent posts-->
                    <h3 class="sidebar-title">Etiketler</h3>
                    <div class="sidebar-item tags">
                        <ul>
                            <li><a href="#">e-Fatura</a></li>
                            <li><a href="#">Ön Muhasebe</a></li>
                            <li><a href="#">e-İrsaliye</a></li>
                            <li><a href="#">Muhasebe</a></li>
                            <li><a href="#">E-Arşiv</a></li>
                            <li><a href="#">E-Defter</a></li>

                        </ul>
                    </div><!-- End sidebar tags-->

                </div><!-- End sidebar -->

            </div><!-- End blog sidebar -->

        </div>

    </div>
</section><!-- End Blog Section -->
