
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- ======= Kampanyalar Section ======= -->
<section id="pricing" class="pricing">
    <div class="container">

        <div class="section-title ">
            <h2 data-aos="fade-up">Kampanyalar</h2>
            <p data-aos="fade-up">

                <br>
                ✦ Fiyatlara KDV dahil değildir.
                <br>
                ✦ Fiyatlar 1 yıllık sözleşme için geçerlidir.
                <br>
                ✦ Fiyatlara saklama ücreti dahildir.
                <br>
                ✦ Faturalandırma paket türüne göre aylık periyodlarla yapılmaktadır.
                <br>
                ✦ Kampanyadan yararlanmak için programın satın alındığı tarihten itibaren 1 ay içerisinde aktivasyon
                yapılması gerekir.
                <br>
                ✦ Hediye verilen kontör E-fatura, E-arşiv ve E-irsaliye için geçerlidir.
                <br>
                ✦ Kampanya kapsamında ücretsiz 6 ay boyunca sınırsız e-belge oluşturulabilir.
                <br>
                ✦ Digital Faturam kampanya şartlarını değiştirme hakkını saklı tutar.
                <br>
                ✦ Kampanya kapsamında ücretsiz 6 ay boyunca sınırsız e-belge oluşturulabilir.
                <br>
                ✦ Kampanya kapsamındaki hediye kullanım süresi bittiğinde kullanıcı kendisine uygun aylık kontör miktarını
                seçerek dilediği E-fatura/E-arşiv paketini satın alabilir.
                <br>
            </p>
        </div>

        <div class="row" style="justify-content: center;">

            <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="100">
                <div class="box featured" styl>
                    <h3>HEMEN DENE</h3>

                    <ul>
                        <li>Ücretsiz kullanım</li>
                        <li>Teknik Destek</li>
                        <li> Dijital Depolama </li>
                        <li>Zamandan Tasarruf</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="~/DigitalFaturam/setup/digitalfaturam.msi" target="_blank" class="yuvarlak">
                            HEMEN
                            İNDİR!
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Kampanyalar Section -->
